:root {
    background-color: black;
    color: white;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%);




    --accent-red: 136, 58, 234;
    --accent-light-red: 224, 204, 250;
    --accent-gradient-red: linear-gradient(
        45deg,
        rgb(var(--accent-red)),
        rgb(var(--accent-light-red)) 30%,
        white 60%);


    --accent-blue: 136, 58, 234;
    --accent-light-blue: 224, 204, 250;
    --accent-gradient-blue: linear-gradient(
        45deg,
        rgb(var(--accent-blue)),
        rgb(var(--accent-light-blue)) 30%,
        white 60%);



    --accent-yellow: 136, 58, 234;
    --accent-light-yellow: 224, 204, 250;
    --accent-gradient-yellow: linear-gradient(
        45deg,
        rgb(var(--accent-yellow)),
        rgb(var(--accent-light-yellow)) 30%,
        white 60%);

}
/* 
.yellow {

}

.red {
    --accent: #dc3546;
    --accent-light: #f8d7da;
    --accent-dark: #842029;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}

.blue {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
} */


.hover-reveal-bg {
    position: relative;
    overflow: hidden;
}

.hover-reveal-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: inherit; /* Use the background color of the parent */
    transition: left 0.3s ease-out;
    z-index: 0;
}

.hover-reveal-bg:hover::before {
    left: 0;
}

.blue-bg::before {
    background-image: linear-gradient(to right, #007bff7c, #000); 
}

.yellow-bg::before {
    background-image: linear-gradient(to right, #ffc1077b, #000); 
}

.red-bg::before {
    background-image: linear-gradient(to right, #dc35466c, #000); 
}


.hover-reveal-bg > * {
    position: relative;
    z-index: 1;
}


html {
    scroll-behavior: smooth;
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
    margin: 50px;
}
