---
import "./globals.css";
---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>undercity</title>
	</head>




	<body> 

		<div class="h-[100vh] w-[100%]">

			<div>
				<nav class="flex justify-between items-center p-10 pt-4">
					<logo className="font-bold text-2xl">UNDERCITY</logo>
					<nav-links className="flex space-x-10">
						<a href="#about-section" class="font-medium cursor-pointer">about</a>
						<a href="#guilds-section" class="font-medium cursor-pointer">guilds</a>
						<a href="#faq-section" class="font-medium cursor-pointer">FAQ</a>
						<contact-link class="font-medium">contact</contact-link>
					</nav-links>
				</nav>
			</div>

			<div class="grid items-center justify-center text-center p-20 m-20  h-[100px]">
				<p class="font-bold text-8xl">UNDERCITY</p>
				<p class="text-2xl">hackathon coming 2025.</p>
				
			</div>

		</div>

		
		<div id="about-section" class="w-[40vw] m-20 pt-20 pb-20">
			<p class="font-medium">welcome to the city below: cybertropolis.</p>
			<p class="text-sx pt-3">greetings, hacker. this is the final gateway to pass in order to join the city. one final test you'll need to go through.</p>
			<p class="text-sx pt-3">here's how it'll work. for 36 hours, you'll create a project from scratch.</p>
			<p class="text-sx pt-3">in simpler terms: undercity is a hackathon.</p>
		</div>

		<div id="guilds-section" class="m-10 pt-28 mb-28">
			<p class="text-center font-bold text-4xl">which guild will you join?</p>

			<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">

				<div class="flex flex-col items-center justify-center p-10 border-4 border-yellow-500 rounded-lg hover-reveal-bg yellow-bg" style="background-color: #000">
					<p class="font-bold text-2xl">the builders</p>
					<p class="text-sx pt-3">the builders are the ones who create things. they're the ones who build the systems and make them work.</p>
				</div>

				<div class="flex flex-col items-center justify-center p-10 border-4 border-red-500 rounded-lg hover-reveal-bg red-bg" style="background-color: #000">
					<p class="font-bold text-2xl">the thinkers</p>
					<p class="text-sx pt-3">the thinkers are the ones who plan things. they're the ones who come up with the ideas and make them happen.</p>
				</div>

				<div class="flex flex-col items-center justify-center p-10 border-4 border-blue-500 rounded-lg hover-reveal-bg blue-bg" style="background-color: #000;">
					<p class="font-bold text-2xl">the hackers</p>
					<p class="text-sx pt-3">the hackers are the ones who break things. they're the ones who find the vulnerabilities in the system and exploit them.</p>
				</div>

			</div>
		</div>

		<div id="faq-section" class="md:p-28">
			<p class="text-center font-bold text-4xl">frequently asked questions</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-10">

				<div class="flex flex-col items-center justify-center p-10 border-2 border-white rounded-lg m-2">
					<p class="font-bold text-2xl">date and time</p>
					<p class="text-sx pt-3">undetermined yet. probably spring 2025 if things go to plan. more info coming soon!</p>
				</div>

				<div class="flex flex-col items-center justify-center p-10 border-2 border-white rounded-lg m-2">
					<p class="font-bold text-2xl">is this free?</p>
					<p class="text-sx pt-3">yup! attending costs nothing. we'll provide you everything you need for the weekend - all the food and hardware and swag for you to hack.</p>
				</div>

			</div>


		</div>

		

		<div class="flex align-items justify-center m-5 mt-20">
			<p>made with ♥ by students</p>
		</div>






		
	</body>




</html>
